@font-face {
  font-family: 'nvicons';
  src:  url('fonts/nvicons.eot?6b2lp6');
  src:  url('fonts/nvicons.eot?6b2lp6#iefix') format('embedded-opentype'),
    url('fonts/nvicons.ttf?6b2lp6') format('truetype'),
    url('fonts/nvicons.woff?6b2lp6') format('woff'),
    url('fonts/nvicons.svg?6b2lp6#nvicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.nvicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nvicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nvicon-youtube:before {
  content: "\e947";
}
.nvicon-instagram:before {
  content: "\e948";
}
.nvicon-facebook:before {
  content: "\e949";
}
.nvicon-error:before {
  content: "\e952";
}
.nvicon-success:before {
  content: "\e953";
}
.nvicon-link:before {
  content: "\e951";
}
.nvicon-menu:before {
  content: "\e94a";
}
.nvicon-kids:before {
  content: "\e941";
}
.nvicon-arrow-right:before {
  content: "\e943";
}
.nvicon-arrow-down:before {
  content: "\e944";
}
.nvicon-arrow-left:before {
  content: "\e945";
}
.nvicon-arrow-up:before {
  content: "\e946";
}
.nvicon-minus:before {
  content: "\e927";
}
.nvicon-plus:before {
  content: "\e928";
}
.nvicon-party:before {
  content: "\e929";
}
.nvicon-search:before {
  content: "\e92a";
}
.nvicon-heart:before {
  content: "\e92b";
}
.nvicon-star-empty:before {
  content: "\e92c";
}
.nvicon-recommended:before {
  content: "\e92d";
}
.nvicon-star-half:before {
  content: "\e92e";
}
.nvicon-star:before {
  content: "\e92f";
}
.nvicon-user:before {
  content: "\e930";
}
.nvicon-grid:before {
  content: "\e931";
}
.nvicon-location:before {
  content: "\e932";
}
.nvicon-in:before {
  content: "\e933";
}
.nvicon-out:before {
  content: "\e934";
}
.nvicon-email:before {
  content: "\e935";
}
.nvicon-phone:before {
  content: "\e936";
}
.nvicon-filter:before {
  content: "\e937";
}
.nvicon-group:before {
  content: "\e938";
}
.nvicon-locker:before {
  content: "\e939";
}
.nvicon-keys:before {
  content: "\e93a";
}
.nvicon-write:before {
  content: "\e93b";
}
.nvicon-pets:before {
  content: "\e93c";
}
.nvicon-parking:before {
  content: "\e93d";
}
.nvicon-wifi:before {
  content: "\e93e";
}
.nvicon-beds:before {
  content: "\e93f";
}
.nvicon-calendar-error:before {
  content: "\e940";
}
.nvicon-calendar:before {
  content: "\e942";
}
.nvicon-rybareni:before {
  content: "\e94d";
}
.nvicon-tradice:before {
  content: "\e94e";
}
.nvicon-kultura:before {
  content: "\e94f";
}
.nvicon-gastro:before {
  content: "\e950";
}
.nvicon-bezky:before {
  content: "\e94b";
}
.nvicon-lyzovani:before {
  content: "\e94c";
}
.nvicon-sdetmi:before {
  content: "\e922";
}
.nvicon-naskaly:before {
  content: "\e923";
}
.nvicon-koupani:before {
  content: "\e924";
}
.nvicon-nakole:before {
  content: "\e925";
}
.nvicon-pesky:before {
  content: "\e926";
}
.nvicon-amenity-13:before {
  content: "\e900";
}
.nvicon-amenity-9:before {
  content: "\e901";
}
.nvicon-amenity-14:before {
  content: "\e902";
}
.nvicon-amenity-8:before {
  content: "\e903";
}
.nvicon-amenity-33:before {
  content: "\e904";
}
.nvicon-amenity-28:before {
  content: "\e905";
}
.nvicon-amenity-6:before {
  content: "\e906";
}
.nvicon-amenity-12:before {
  content: "\e907";
}
.nvicon-amenity-26:before {
  content: "\e908";
}
.nvicon-amenity-17:before {
  content: "\e909";
}
.nvicon-amenity-27:before {
  content: "\e90a";
}
.nvicon-amenity-4:before {
  content: "\e90b";
}
.nvicon-amenity-19:before {
  content: "\e90c";
}
.nvicon-amenity-30:before {
  content: "\e90d";
}
.nvicon-amenity-25:before {
  content: "\e90e";
}
.nvicon-amenity-35:before {
  content: "\e90f";
}
.nvicon-amenity-10:before {
  content: "\e910";
}
.nvicon-amenity-21:before {
  content: "\e911";
}
.nvicon-amenity-22:before {
  content: "\e912";
}
.nvicon-amenity-18:before {
  content: "\e913";
}
.nvicon-amenity-3:before {
  content: "\e914";
}
.nvicon-amenity-23:before {
  content: "\e915";
}
.nvicon-amenity-5:before {
  content: "\e916";
}
.nvicon-amenity-7:before {
  content: "\e917";
}
.nvicon-amenity-31:before {
  content: "\e918";
}
.nvicon-amenity-29:before {
  content: "\e919";
}
.nvicon-amenity-32:before {
  content: "\e91a";
}
.nvicon-amenity-20:before {
  content: "\e91b";
}
.nvicon-amenity-15:before {
  content: "\e91c";
}
.nvicon-amenity-2:before {
  content: "\e91d";
}
.nvicon-amenity-11:before {
  content: "\e91e";
}
.nvicon-amenity-34:before {
  content: "\e91f";
}
.nvicon-amenity-16:before {
  content: "\e920";
}
.nvicon-amenity-24:before {
  content: "\e921";
}
